<div style="text-align: center">
  <!-- <h1>Welcome To Dashboard</h1>
  <h2>Angular 15 Tutorial</h2>
  <h3>Authentication using Echol Server By GanDorla</h3> -->
  <!-- <app-analysit></app-analysit> -->
  <!-- <app-side-navbar></app-side-navbar> -->
</div>

<div class="container w-full pt-20 mx-auto">

  <div class="w-full px-4 mb-16 leading-normal text-gray-800 md:px-0 md:mt-8">

    <app-console-content></app-console-content>
    <hr class="mx-4 my-8 border-b-2 border-gray-400">
    <app-divider></app-divider>


  </div>
</div>
<!-- <footer class="bg-white border-t border-gray-400 shadow">
  <app-footer></app-footer>
</footer> -->

